header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

form{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

form input{
    height: 21.2px;
    width: 50%;
}

h1{
    margin-bottom: 5px;
}

p{
    text-align: center;
    margin-top: 0px;
}